/*
	IE 7/8/9(non-mobile)
	This uses the wide/4 column bootstrap template by default
*/

	.visible-one, .visible-two, .visible-three, .hidden-IE {
		display:none !important;
	}

.row {
    padding: 0 !important;
  }
  .btn-group {
    float: left;
  }
  .span10 form[id*="searchForm"] {
    float: right;
    margin-bottom: 0;
  }
  #searchForm {
    width: 185px;
    margin-bottom: 0;
  }
  .cdc-local-check {
    width: 225px;
  }
  .a2z-link-button span {
    float: right;
    margin-left: 4px;
    margin-top: 3px;
  }
  .about-us-module ul {
    width: 75%;
  }
  .about-us-module li {
    margin-left: 20px;
    margin-bottom: 10px;
  }
  #onthispage ul,
  .on-this-page-module ul {
    display: block;
  }
  #pageslide {
    display: none;
  }
  .pageoptions a:first-child {
    font-size: 12px;
  }
  .highlight-module.list a {
    font-size: 14px;
  }
  html.nav #nav-container {
    float: left;
    width: 235px;
  }
  html.nav #body {
    width: 935px;
  }
  html.home .pageoptions li.show > ul {
    display: block;
  }
  html.home .pageoptions span:first-child {
    float: left;
    margin-top: 8px;
    margin-right: 4px;
  }
  html.home-feat .pageoptions li.show > ul {
    display: block;
  }
  html.home-feat .pageoptions span:first-child {
    float: left;
    margin-top: 8px;
    margin-right: 4px;
  }
  html.home-feat-opt .pageoptions .nav {
    margin-left: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  html.home-feat-opt .pageoptions .nav > li {
    display: table-cell;
    float: left;
    position: relative;
    width: 20%;
  }
  html.home-feat-opt .pageoptions .nav > li > a {
    border-bottom: 0;
    border-left: 1px solid #cdcdcd;
  }
  html.home-feat-opt .pageoptions .nav li:first-child a {
    border-left: 0;
  }
  html.home-feat-opt .pageoptions .nav ul {
    display: block;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    padding: 12px;
    width: 100%;
    margin-left: -15px;
    margin-top: 0;
    z-index: 999;
  }
  html.home-feat-opt .pageoptions li.show > ul {
    display: none;
  }
  html.home-feat-opt .pageoptions span:first-child {
    float: left;
    margin-top: 11px;
    margin-right: 4px;
  }
  html.home-ln .pageoptions li.show > ul,
  html.content .pageoptions li.show > ul {
    display: block;
  }
  html.home-ln .pageoptions span:first-child,
  html.content .pageoptions span:first-child {
    float: left;
    margin-top: 12px;
    margin-right: 10px;
  }
  html.content-float .pageoptions li.show > ul {
    display: block;
  }
  html.wide .pageoptions .nav {
    margin-left: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  html.wide .pageoptions .nav > li {
    display: table-cell;
  }
  html.wide .pageoptions .nav > li a {
    border-bottom: 0;
    border-left: 1px solid #cdcdcd;
  }
  html.wide .pageoptions .nav li:first-child a {
    border-left: 0;
  }
  html.wide .pageoptions .nav ul {
    display: block;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    padding: 12px;
    width: 100%;
    margin-left: -15px;
    margin-top: 0;
    z-index: 999;
  }
  html.wide .pageoptions li.show > ul {
    display: none;
  }
  html.wide-ln .pageoptions li.show > ul {
    display: none;
  }
  .selected.dropdown > .arrow,
  .selected.dropdown > a[id*="po-"] .arrow {
    background: url('/TemplatePackage/3.0/images/TRIANGLES.png') no-repeat -354px -29px;
    width: 11px;
    height: 11px;
    cursor: pointer;
  }
  .dropdown > .arrow,
  .dropdown > a[id*="po-"] .arrow {
    background: url('/TemplatePackage/3.0/images/TRIANGLES.png') no-repeat -354px -4px;
    width: 11px;
    height: 11px;
    cursor: pointer;
  }
  .selected.dropup > .arrow,
  .selected.dropup > a[id*="po-"] .arrow {
    background: url('/TemplatePackage/3.0/images/TRIANGLES.png') no-repeat -325px -29px;
    width: 11px;
    height: 11px;
    cursor: pointer;
  }
  .dropup > .arrow,
  .dropup > a[id*="po-"] .arrow {
    background: url('/TemplatePackage/3.0/images/TRIANGLES.png') no-repeat -325px -4px;
    width: 11px;
    height: 11px;
    cursor: pointer;
  }
  .js nav#left li {
    min-width: 170px;
  }
  .js nav#left h3 {
    min-width: 170px;
  }
  nav#left span:first-child {
    margin-top: 8px;
    margin-right: 4px;
  }

.blocklist-module {
	background: #fff;
	border: 0;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#b0b0b0')";
	/* For IE 5.5 - 7 */
	zoom:1; /* This enables hasLayout, which is required for older IE browsers */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=222, color='#b0b0b0');
}

	/* bootstrap specific */
	.row {
		margin-left: -10px;
		*zoom: 1;
	}
	.row:before,
	.row:after {
		display: table;
		line-height: 0;
		content: "";
	}
	.row:after {
		clear: both;
	}
	[class*="span"] {
		float: left;
		min-height: 1px;
		margin-left: 10px;
	}
	.container,
	.navbar-static-top .container,
	.navbar-fixed-top .container,
	.navbar-fixed-bottom .container {
		width: 1185px;
	}
	.span24 {
		width: 1185px;
	}
	.span23 {
		width: 1135px;
	}
	.span22 {
		width: 1085px;
	}
	.span21 {
		width: 1035px;
	}
	.span20 {
		width: 985px;
	}
	.span19 {
		width: 935px;
	}
	.span18 {
		width: 885px;
	}
	.span17 {
		width: 835px;
	}
	.span16 {
		width: 785px;
	}
	.span15 {
		width: 735px;
	}
	.span14 {
		width: 685px;
	}
	.span13 {
		width: 635px;
	}
	.span12 {
		width: 585px;
	}
	.span11 {
		width: 535px;
	}
	.span10 {
		width: 485px;
	}
	.span9 {
		width: 435px;
	}
	.span8 {
		width: 385px;
	}
	.span7 {
		width: 335px;
	}
	.span6 {
		width: 285px;
	}
	.span5 {
		width: 235px;
	}
	.span4 {
		width: 185px;
	}
	.span3 {
		width: 135px;
	}
	.span2 {
		width: 85px;
	}
	.span1 {
		width: 35px;
	}
	.offset24 {
		margin-left: 1215px;
	}
	.offset23 {
		margin-left: 1165px;
	}
	.offset22 {
		margin-left: 1115px;
	}
	.offset21 {
		margin-left: 1065px;
	}
	.offset20 {
		margin-left: 1015px;
	}
	.offset19 {
		margin-left: 965px;
	}
	.offset18 {
		margin-left: 915px;
	}
	.offset17 {
		margin-left: 865px;
	}
	.offset16 {
		margin-left: 815px;
	}
	.offset15 {
		margin-left: 765px;
	}
	.offset14 {
		margin-left: 715px;
	}
	.offset13 {
		margin-left: 665px;
	}
	.offset12 {
		margin-left: 615px;
	}
	.offset11 {
		margin-left: 565px;
	}
	.offset10 {
		margin-left: 515px;
	}
	.offset9 {
		margin-left: 465px;
	}
	.offset8 {
		margin-left: 415px;
	}
	.offset7 {
		margin-left: 365px;
	}
	.offset6 {
		margin-left: 315px;
	}
	.offset5 {
		margin-left: 265px;
	}
	.offset4 {
		margin-left: 215px;
	}
	.offset3 {
		margin-left: 165px;
	}
	.offset2 {
		margin-left: 115px;
	}
	.offset1 {
		margin-left: 65px;
	}
	.row-fluid {
		width: 100%;
		*zoom: 1;
	}
	.row-fluid:before,
	.row-fluid:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row-fluid:after {
		clear: both;
	}
	.row-fluid [class*="span"] {
		display: block;
		width: 100%;
		min-height: 30px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 1.2658227848101267%;
		*margin-left: 1.2131912058627583%;
	}
	.row-fluid [class*="span"]:first-child {
		margin-left: 0;
	}
	.row-fluid .controls-row [class*="span"] + [class*="span"] {
		margin-left: 1.2658227848101267%;
	}
	.row-fluid .span24 {
		width: 100%;
		*width: 99.94736842105263%;
	}
	.row-fluid .span23 {
		width: 95.78059071729959%;
		*width: 95.72795913835222%;
	}
	.row-fluid .span22 {
		width: 91.56118143459916%;
		*width: 91.5085498556518%;
	}
	.row-fluid .span21 {
		width: 87.34177215189874%;
		*width: 87.28914057295137%;
	}
	.row-fluid .span20 {
		width: 83.12236286919831%;
		*width: 83.06973129025094%;
	}
	.row-fluid .span19 {
		width: 78.90295358649789%;
		*width: 78.85032200755052%;
	}
	.row-fluid .span18 {
		width: 74.68354430379748%;
		*width: 74.6309127248501%;
	}
	.row-fluid .span17 {
		width: 70.46413502109704%;
		*width: 70.41150344214967%;
	}
	.row-fluid .span16 {
		width: 66.24472573839662%;
		*width: 66.19209415944925%;
	}
	.row-fluid .span15 {
		width: 62.025316455696206%;
		*width: 61.972684876748836%;
	}
	.row-fluid .span14 {
		width: 57.80590717299578%;
		*width: 57.75327559404841%;
	}
	.row-fluid .span13 {
		width: 53.58649789029536%;
		*width: 53.53386631134799%;
	}
	.row-fluid .span12 {
		width: 49.36708860759494%;
		*width: 49.31445702864757%;
	}
	.row-fluid .span11 {
		width: 45.14767932489451%;
		*width: 45.09504774594714%;
	}
	.row-fluid .span10 {
		width: 40.92827004219409%;
		*width: 40.87563846324672%;
	}
	.row-fluid .span9 {
		width: 36.708860759493675%;
		*width: 36.656229180546305%;
	}
	.row-fluid .span8 {
		width: 32.48945147679325%;
		*width: 32.43681989784588%;
	}
	.row-fluid .span7 {
		width: 28.270042194092827%;
		*width: 28.217410615145457%;
	}
	.row-fluid .span6 {
		width: 24.050632911392405%;
		*width: 23.998001332445035%;
	}
	.row-fluid .span5 {
		width: 19.831223628691983%;
		*width: 19.778592049744613%;
	}
	.row-fluid .span4 {
		width: 15.611814345991561%;
		*width: 15.559182767044193%;
	}
	.row-fluid .span3 {
		width: 11.39240506329114%;
		*width: 11.339773484343771%;
	}
	.row-fluid .span2 {
		width: 7.172995780590718%;
		*width: 7.1203642016433495%;
	}
	.row-fluid .span1 {
		width: 2.9535864978902953%;
		*width: 2.9009549189429267%;
	}
	.row-fluid .offset24 {
		margin-left: 102.53164556962025%;
		*margin-left: 102.42638241172551%;
	}
	.row-fluid .offset24:first-child {
		margin-left: 101.26582278481013%;
		*margin-left: 101.16055962691539%;
	}
	.row-fluid .offset23 {
		margin-left: 98.31223628691984%;
		*margin-left: 98.2069731290251%;
	}
	.row-fluid .offset23:first-child {
		margin-left: 97.04641350210971%;
		*margin-left: 96.94115034421498%;
	}
	.row-fluid .offset22 {
		margin-left: 94.09282700421942%;
		*margin-left: 93.98756384632468%;
	}
	.row-fluid .offset22:first-child {
		margin-left: 92.82700421940929%;
		*margin-left: 92.72174106151455%;
	}
	.row-fluid .offset21 {
		margin-left: 89.87341772151899%;
		*margin-left: 89.76815456362425%;
	}
	.row-fluid .offset21:first-child {
		margin-left: 88.60759493670886%;
		*margin-left: 88.50233177881412%;
	}
	.row-fluid .offset20 {
		margin-left: 85.65400843881856%;
		*margin-left: 85.54874528092382%;
	}
	.row-fluid .offset20:first-child {
		margin-left: 84.38818565400844%;
		*margin-left: 84.2829224961137%;
	}
	.row-fluid .offset19 {
		margin-left: 81.43459915611814%;
		*margin-left: 81.3293359982234%;
	}
	.row-fluid .offset19:first-child {
		margin-left: 80.16877637130801%;
		*margin-left: 80.06351321341327%;
	}
	.row-fluid .offset18 {
		margin-left: 77.21518987341773%;
		*margin-left: 77.10992671552299%;
	}
	.row-fluid .offset18:first-child {
		margin-left: 75.9493670886076%;
		*margin-left: 75.84410393071286%;
	}
	.row-fluid .offset17 {
		margin-left: 72.99578059071729%;
		*margin-left: 72.89051743282255%;
	}
	.row-fluid .offset17:first-child {
		margin-left: 71.72995780590716%;
		*margin-left: 71.62469464801242%;
	}
	.row-fluid .offset16 {
		margin-left: 68.77637130801688%;
		*margin-left: 68.67110815012214%;
	}
	.row-fluid .offset16:first-child {
		margin-left: 67.51054852320675%;
		*margin-left: 67.40528536531201%;
	}
	.row-fluid .offset15 {
		margin-left: 64.55696202531647%;
		*margin-left: 64.45169886742173%;
	}
	.row-fluid .offset15:first-child {
		margin-left: 63.29113924050633%;
		*margin-left: 63.18587608261159%;
	}
	.row-fluid .offset14 {
		margin-left: 60.33755274261603%;
		*margin-left: 60.23228958472129%;
	}
	.row-fluid .offset14:first-child {
		margin-left: 59.07172995780591%;
		*margin-left: 58.96646679991117%;
	}
	.row-fluid .offset13 {
		margin-left: 56.118143459915615%;
		*margin-left: 56.012880302020875%;
	}
	.row-fluid .offset13:first-child {
		margin-left: 54.85232067510549%;
		*margin-left: 54.74705751721075%;
	}
	.row-fluid .offset12 {
		margin-left: 51.89873417721519%;
		*margin-left: 51.79347101932045%;
	}
	.row-fluid .offset12:first-child {
		margin-left: 50.63291139240506%;
		*margin-left: 50.52764823451032%;
	}
	.row-fluid .offset11 {
		margin-left: 47.679324894514764%;
		*margin-left: 47.574061736620024%;
	}
	.row-fluid .offset11:first-child {
		margin-left: 46.41350210970464%;
		*margin-left: 46.3082389518099%;
	}
	.row-fluid .offset10 {
		margin-left: 43.459915611814345%;
		*margin-left: 43.354652453919606%;
	}
	.row-fluid .offset10:first-child {
		margin-left: 42.19409282700422%;
		*margin-left: 42.08882966910948%;
	}
	.row-fluid .offset9 {
		margin-left: 39.24050632911393%;
		*margin-left: 39.13524317121919%;
	}
	.row-fluid .offset9:first-child {
		margin-left: 37.9746835443038%;
		*margin-left: 37.86942038640906%;
	}
	.row-fluid .offset8 {
		margin-left: 35.0210970464135%;
		*margin-left: 34.91583388851876%;
	}
	.row-fluid .offset8:first-child {
		margin-left: 33.755274261603375%;
		*margin-left: 33.650011103708636%;
	}
	.row-fluid .offset7 {
		margin-left: 30.80168776371308%;
		*margin-left: 30.69642460581834%;
	}
	.row-fluid .offset7:first-child {
		margin-left: 29.535864978902953%;
		*margin-left: 29.430601821008214%;
	}
	.row-fluid .offset6 {
		margin-left: 26.582278481012658%;
		*margin-left: 26.477015323117918%;
	}
	.row-fluid .offset6:first-child {
		margin-left: 25.31645569620253%;
		*margin-left: 25.21119253830779%;
	}
	.row-fluid .offset5 {
		margin-left: 22.362869198312236%;
		*margin-left: 22.257606040417496%;
	}
	.row-fluid .offset5:first-child {
		margin-left: 21.09704641350211%;
		*margin-left: 20.99178325560737%;
	}
	.row-fluid .offset4 {
		margin-left: 18.143459915611814%;
		*margin-left: 18.038196757717078%;
	}
	.row-fluid .offset4:first-child {
		margin-left: 16.877637130801688%;
		*margin-left: 16.77237397290695%;
	}
	.row-fluid .offset3 {
		margin-left: 13.924050632911392%;
		*margin-left: 13.818787475016657%;
	}
	.row-fluid .offset3:first-child {
		margin-left: 12.658227848101266%;
		*margin-left: 12.55296469020653%;
	}
	.row-fluid .offset2 {
		margin-left: 9.70464135021097%;
		*margin-left: 9.599378192316236%;
	}
	.row-fluid .offset2:first-child {
		margin-left: 8.438818565400844%;
		*margin-left: 8.333555407506108%;
	}
	.row-fluid .offset1 {
		margin-left: 5.485232067510548%;
		*margin-left: 5.379968909615812%;
	}
	.row-fluid .offset1:first-child {
		margin-left: 4.219409282700422%;
		*margin-left: 4.114146124805686%;
	}
	input,
	textarea,
	.uneditable-input {
		margin-left: 0;
	}
	.controls-row [class*="span"] + [class*="span"] {
		margin-left: 30px;
	}
	input.span12,
	textarea.span12,
	.uneditable-input.span12 {
		width: 1156px;
	}
	input.span11,
	textarea.span11,
	.uneditable-input.span11 {
		width: 1056px;
	}
	input.span10,
	textarea.span10,
	.uneditable-input.span10 {
		width: 956px;
	}
	input.span9,
	textarea.span9,
	.uneditable-input.span9 {
		width: 856px;
	}
	input.span8,
	textarea.span8,
	.uneditable-input.span8 {
		width: 756px;
	}
	input.span7,
	textarea.span7,
	.uneditable-input.span7 {
		width: 656px;
	}
	input.span6,
	textarea.span6,
	.uneditable-input.span6 {
		width: 556px;
	}
	input.span5,
	textarea.span5,
	.uneditable-input.span5 {
		width: 456px;
	}
	input.span4,
	textarea.span4,
	.uneditable-input.span4 {
		width: 356px;
	}
	input.span3,
	textarea.span3,
	.uneditable-input.span3 {
		width: 256px;
	}
	input.span2,
	textarea.span2,
	.uneditable-input.span2 {
		width: 156px;
	}
	input.span1,
	textarea.span1,
	.uneditable-input.span1 {
		width: 56px;
	}
	.thumbnails {
		margin-left: -30px;
	}
	.thumbnails > li {
		margin-left: 30px;
	}
	.row-fluid .thumbnails {
		margin-left: 0;
	}